/*----------------- GRIDS ------------------*/

.sheet-main {
    display: grid;
    width: 1100px;
    height: 900px;
    grid-gap: 4px;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main-stats main-actions";
}

.sheet-main-stats {
    grid-area: main-stats;
    display: grid;
    width: fit-content;
    height: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-columns: auto;
    grid-auto-rows: fit-content(100%);
    grid-template-areas: "image" "name" "info" "aspects" "header1" "stats1" "common1" "header2" "stats2" "common2" "header3" "common3" "header4" "common4";
}

.sheet-main-actions {
    grid-area: main-actions;
}

.sheet-skills-grid {
    display: grid;
    width: auto;
    height: fit-content;
    grid-template-columns: 47% 1fr 47%;
    grid-auto-rows: fit-content(100%);
    grid-template-areas:
            "skill-left skill-label skill-right"
}

.sheet-actions-grid {
    display: grid;
    width: auto;
    height: fit-content;
    padding-bottom: 7px;
    grid-column-gap: 3px;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 40% 1.5fr;
    grid-template-areas: "action-name action-type action-target action-range action-effect action-speed";
}

.sheet-actions-info-grid {
    display: grid;
    width: auto;
    height: fit-content;
    padding-bottom: 3px;
    grid-column-gap: 3px;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 40% 1fr;
    grid-auto-rows: fit-content(100%);
    grid-template-areas: "action-name action-name action-name action-name action-effect action-effect";
}

/*----------------- GENERAL CSS ------------------*/

.sheet-section {

}

.sheet-flex-col {
    display: flex;
    flex-flow: row wrap;
    /*justify-content: flex-start;*/
}

.sheet-flex-center {
    align-items: center;
    justify-content: center;
}

/*------------- Section-specific CSS -------------*/

/*----------------- Image section ------------------*/
.sheet-image {
    grid-area: image;
    background-color: black;
    padding: 3px;
}

/*----------------- Name section ------------------*/
.sheet-name {
    grid-area: name;
    align-content: center;
}

.sheet-name span {
    float: left;
    width: fit-content;
    font-weight: bold;
    position: center;
    padding: 3px;
}

.sheet-name input {
    float: right;
    width: available;
    padding: 3px;
}

/*----------------- Info section ------------------*/
.sheet-info {
    grid-area: info;
    height: auto;
    border: 3px solid lightcoral;
}

.sheet-info-hp-box {
    width: 45%;
    padding-top: 5px;
    padding-bottom: 4px;
    border-right: 3px solid lightcoral;
    border-bottom: 3px solid lightcoral;
}

.sheet-info-hp-text {
    background-color: lightcoral;
    color: white;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
}

input.sheet-medium {
    width: 30%;
    padding: 2px;
}

.sheet-info-tier-box {
    float: right;
    padding-right: 5px;
}

.sheet-info-class-box {
    align-content: center;
    padding-top: 5px;
    padding-right: 5px;
    float: right;
}

.sheet-info-subclass-box {
    width: 65%;
    padding-left: 5px;
}

/*----------------- Aspects section ------------------*/
.sheet-aspects {
    grid-area: aspects;
    border-bottom: 3px solid dimgrey;
}

.sheet-aspects-col {
    width: 30%;
    padding-left: 3px;
    padding-right: 3px;
}

/*----------------- Headers ------------------*/
.sheet-header1 {
    grid-area: header1;
    background-color: dimgrey;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.sheet-header2 {
    grid-area: header2;
    background-color: dimgrey;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.sheet-header3 {
    grid-area: header3;
    background-color: dimgrey;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.sheet-header4 {
    grid-area: header4;
    background-color: dimgrey;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

/*----------------- Stats ------------------*/

.sheet-stats1 {
    grid-area: stats1;
}

.sheet-stats2 {
    grid-area: stats2;
}

.sheet-stats-col {
    width: 49%;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

/*----------------- Common ------------------*/

.sheet-common1 {
    grid-area: common1;
}

.sheet-common2 {
    grid-area: common2;
}

.sheet-skill-left {
    grid-area: skill-left;
}

.sheet-skill-label {
    grid-area: skill-label;
    background-color: dimgrey;
    color: white;
    writing-mode: vertical-rl;
    text-align: center;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
}

.sheet-skill-right {
    grid-area: skill-right;
}

.sheet-skill {
    text-align: center;
    font-weight: bold;
    font-size: 0.75em;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 3px solid dimgrey;
}

.sheet-common3 {
    grid-area: common3;
}

.sheet-common4 {
    grid-area: common4;
}

/*----------------- Actions ------------------*/

.sheet-action-name {
    grid-area: action-name;
}

.sheet-action-type {
    grid-area: action-type;
}

.sheet-action-target {
    grid-area: action-target;
}

.sheet-action-range {
    grid-area: action-range;
}

.sheet-action-effect {
    grid-area: action-effect;
}

.sheet-action-speed {
    grid-area: action-speed;
}

.sheet-action-empty {
    background-color: lightgrey;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheet-action-large {
    background-color: lightgrey;
    text-align: center;
}

.sheet-action-text {
    background-color: lightgrey;
    text-align: center;
}

.sheet-action-non-empty {
    background-color: lightgrey;
    text-align: center;
    height: 90%;
}

.sheet-action-tide-empty {
    background-color: rgb(247, 213, 178);
    text-align: center;
}

.sheet-action-tide-non-empty {
    background-color: rgb(247, 213, 178);
    text-align: center;
    height: 90%;
}

.sheet-action-header {
    width: auto;
    height: auto;
    background-color: dimgrey;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
}

.sheet-action-header-left {
    width: auto;
    height: auto;
    background-color: dimgrey;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-top: 3px;
    padding-left: 5px;
}

.sheet-action-info-title {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.sheet-action-info {
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

.sheet-class-action-small {
    height: 40px;
}

.sheet-class-action-medium {
    height: 65px;
}

.sheet-class-action-large {
    height: 125px;
}

.sheet-action-text-area-small {
    display:block;
    width:auto;
    height:99%;
    padding:0.25%;
    margin:0;
    overflow:auto;
    background-color: lightgrey;
}

.sheet-action-text-area-medium {
    display:block;
    width:auto;
    height:85%;
    padding:0.5%;
    margin:0;
    overflow:auto;
    background-color: lightgrey;
}

.sheet-action-text-area-large {
    display:block;
    width:auto;
    height:99%;
    padding:0.5%;
    margin:0;
    overflow:auto;
    background-color: lightgrey;
}

.sheet-action-tide-text-area-medium {
    display:block;
    width:auto;
    height:85%;
    padding:0.5%;
    margin:0;
    overflow:auto;
    background-color: rgb(247, 213, 178);}

.sheet-action-tide-text-area-large {
    display:block;
    width:auto;
    height:99%;
    padding:0.5%;
    margin:0;
    overflow:auto;
    background-color: rgb(247, 213, 178);}


/* Set the min-width so that when the window is resized the look will stay consistant */

.sheet-charimage {
    background-color: #111111;
    width: 40%;
    margin: 0 auto;
}

.sheet-charimage img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.sheet-stats {
    top: 45px;
    width: 33%;
    height: auto;
    position: absolute;
}

.sheet-skills {
    top: 45px;
    width: 66%;
    height: auto;
    position: absolute;
}

.sheet-charsheet {
    background-color: #ddd;
    min-width: 800px;
}

/* Universal styling applied to all elements of these types */

.sheet-red {
    background-color: lightcoral;
}

.sheet-blue {
    background-color: lightskyblue;
}

.sheet-green {
    background-color: lightgreen;
}

.sheet-yellow {
    background-color: yellow;
}

.sheet-red .sheet-blue .sheet-green .sheet-yellow {
    text-align: center;
    text-decoration-style: double;
}

select.sheet-selector {
    vertical-align: top;
    width: 100%;
}

select.sheet-selector-fit {
    vertical-align: top;
    width: fit-content;
}

input.sheet-x-small {
    width: 8%;
    margin: 4px;
}

input.sheet-small {
    width: 20%;
}

input.sheet-cap {
    width: 60%;
}

.sheet-title {
    float: left;
    font-weight: bold;
    padding: 3px;
}

.sheet-subtitle {
    padding: 1px;
    font-size: 0.75em;
}

.sheet-critical {
    border: 5px solid lightcoral;
}

.sheet-accuracy {
    border: 5px solid lightgreen;
}

.sheet-penetration {
    border: 5px solid;
    border-image: linear-gradient(to bottom, lightskyblue 50%, lightcoral 50%, lightcoral 50%) 5;
}

.sheet-cap-main-col {
    width: 27%;
}

.sheet-cap-sep-col {
    width: fit-content;
    padding: 12px 3px 12px 3px;
}

/* Targetted styling that only effects elements with these classes */


span.sheet-dee {
    font-size: 1.4em;
    font-weight: bold;
    left: -36%;
    padding-right: 4px;
    position: relative;
    top: 3px;
}

/* Targetted styling that only effects elements contained within the stated class */
.sheet-stats h3 {
    display: inline-block;
    text-align: left;
}

.sheet-stats h3:first-child {
    margin-left: 35%;
    margin-right: 15%;
}
